body {
    background-color : #CDEBEF;
}

.all {
    text-align: center;
}

img {
    height: 200px;
    width: 280px;
}

p {
    color: #E82B1B;
    font-size: 25px;
    font-weight: bolder;
}

.text {
    margin: 20px;
}

.top {
    margin: 10px;
}

.middle {
    margin: 10px;
}

.bottom {
    margin: 10px;
}