body {
    background-color : #CDEBEF;
}

.all {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

p {
    color: #EDA460;
    font-size: 20px;
}

.top {
    margin: 0px auto;
}

.container {
    margin: 5px 25%;
    padding: -3px;
    border: 3.5px solid #f8eab2
}

span {
    color: white;
}

a {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: black;
}

img {
    border-radius: 30px;
    height: 600px;
    width: 800px;
}